@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>check out my <a href="https://www.youtube.com/user/pewdiepie"> Youtube</a> you sorry bastard</p>

</div>
